{% load staticfiles %}
<!DOCTYPE html>
 <html lang='{{ LANGUAGE_CODE|default:"ja" }}'>
 <head>
 	<meta charset="utf-8">
 	<link rel="stylesheet" type="text/css" href="{% static 'wiki/css/common.css' %}" />
	<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
 	<title>wiki</title>
 </head>
 <body>
 	<header></header>
 	<article>
 	<div id="sidebar">
		 sidebar
 	</div>
 	<div id="content">
	 	{% block content %}
 			{{ content }}
	 	{% endblock %}
 	</div>
	</article> 		
 	<footer></footer>
 </body>
 </html>