{% load staticfiles %}
{% load mathjax %}
{% load staticfiles %}
<!DOCTYPE html>
 <html lang='{{ LANGUAGE_CODE|default:"ja" }}'>
 <head>
 	<meta charset="utf-8">
 	<link rel="stylesheet" type="text/css" href="{% static 'wiki/css/common.css' %}" />
 	<title>wiki</title>
	{% mathjax_scripts %}
 </head>
 <body>
 	<header>
 		<a href="/"><h1>Colowiki</h1></a>
 		<a href="/admin/"><p>login</p></a>
 	</header>
 	<article>
 		<div id="sidebar">
			{% for bcat in big_cat %}
			<div class="b-block" onclick="obj=document.getElementById('open{{ forloop.counter }}').style; obj.display=(obj.display=='none')?'block':'none';">
				<a style="cursor:pointer;"><h1>{{ bcat.name }}</h1></a>
			</div>
			<div id="open{{ forloop.counter }}" style="display:none;clear:both;">
				{% for cat in category %}
				<ul>
					{% ifequal cat.big_category|stringformat:"s" bcat.name|stringformat:"s" %}					
					<li>
						<a href="/list/{{ cat.id }}/">{{ cat.category_name }}</a>
					</li>
					{% endifequal %}
				</ul>
				{% endfor %}
			</div>
   			{% endfor %}
 		</div>
 		<div id="content">
		 	{% block content %}
 				{{ content }}
		 	{% endblock %}
 		</div>
	</article> 		
 	<footer></footer>
 </body>
 </html>
 
 
 
 
 
 
 
 
 
 
 
