{% load staticfiles %}
<!DOCTYPE html>
 <html lang='{{ LANGUAGE_CODE|default:"ja" }}'>
 <head>
 	<meta charset="utf-8">
 	<link rel="stylesheet" type="text/css" href="{% static 'wiki/css/common.css' %}" />
 	<title>wiki</title>
 </head>
 <body>
 	<header><h1>Colowiki</h1></header>
 	<article>
 		<div id="sidebar">
			<ul>
				{% for bcat in big_cat %}
   				<li class="col_rank">
   					{{ bcat.name }}
					{% for cat in category %}
   					<ol>
   						{% ifequal cat.big_category|stringformat:"s" bcat.name|stringformat:"s" %}
   							<a href="/list/{{ cat.id }}/">{{ cat.category_name }}</a>
   						{% endifequal %}
   					</ol>
					{% endfor %}
   				</li>
       			{% endfor %}
       		</ul>
 		</div>
 		<div id="content">
		 	{% block content %}
 				{{ content }}
		 	{% endblock %}
 		</div>
	</article> 		
 	<footer></footer>
 </body>
 </html>